@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kamino-font';
  src: url('./assets/font/handelsonsix_cyr_six.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'kamino-font';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-family {
  font-family: 'Syne Mono', monospace;
}